# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.spec

# PyInstaller
*.manifest

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Executables
*.exe
